.text-input-container {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
    padding: 8px 0px;
    width: calc(20vw - 48px);
}

.text-input-container label {
    font-weight: normal;
    margin-right: 8px;
    color: var(--primary-text-color);
}

.text-input-container input {
    border: none;
    background: white;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    min-width: 50px;
}