@import url('../../../styles/colors.css');

.controls-panel {
    display: flex;
    flex-wrap: wrap;
}

.block-container {
    display: flex;
    flex-wrap: wrap;
    font-weight: bolder;
    background-color: var(--primary-bg-color);
    padding: 16px;
    margin: 8px;
    border-radius: 16px;
    width: calc(100% - 48px);
}

.block-label {
    color: var(--primary-text-color);
    margin-bottom: 16px;
    font-size: 16px;
}
